# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
venv/ 
__pycache__/ 
*.pyc 


# Python
venv/
__pycache__/
*.pyc

# Flutter
/frontend/build/
/**/Flutter/ephemeral/
/**/flutter/ephemeral/

# OS
.DS_Store
Thumbs.db
