# Python (backend)
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/venv/

# Flutter/Dart (frontend)
frontend/build/
frontend/.dart_tool/
frontend/**/Flutter/ephemeral/
frontend/**/flutter/ephemeral/
ios/Flutter/ephemeral/
android/Flutter/ephemeral/

# OS
.DS_Store
Thumbs.db
